$color-primary: #f62f5e;

$color-secondary-1: #6eb2fb;
$color-secondary-2: #00d3ca;

$color-third-1: #f1ad3d;
$color-third-2: #effc90;

$color-dark-1: #2e2e2e;
$color-dark-2: #6c6c6c;
$color-dark-3: #b4b4b4;
$color-dark-4: #f7f7f7;
$color-dark-5: #ffffff;
