@import "./variables";

.button-primary {
  height: 3rem;
  width: 7rem;
  border-radius: 4px;
  background-color: $color-dark-5;
  border: 1px solid $color-primary;
  color: $color-primary;
  &:focus {
    outline: none;
  }
}
