.footer {
  width: 100%;
}

.footer .footer--dark {
  background-color: #2e2e2e;
  padding: 25px 30px;
}

.footer .footer--dark .footer--link {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

.footer .footer--dark .footer--link li {
  font-size: 24px;
  font-weight: bold;
}

.footer .footer--dark .footer--link li a {
  color: #ffffff;
  text-decoration: none;
}

.footer .footer--dark .footer--link li a:hover {
  color: #b4b4b4;
}

.footer .footer--dark .footer--link__socmed {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

.footer .footer--dark .footer--link__socmed li {
  background-color: #ffffff;
  color: #2e2e2e;
  font-size: 24px;
  padding: 8px;
  margin: 0 10px;
  border-radius: 50%;
}

.footer .footer--dark .footer--link__socmed li:hover {
  background-color: #b4b4b4;
  cursor: pointer;
}

.footer .footer--dark .footer--link__socmed li:hover a {
  color: #ffffff;
}

.footer .footer--dark .footer--link__socmed li a {
  color: #2e2e2e;
}

.footer .footer--dark .footer--link__socmed li a i {
  width: 25px;
  height: 25px;
  text-align: center;
}

.footer .footer--dark .footer--copyright {
  color: #6c6c6c;
  text-align: center;
}

.footer .footer--dark .footer--copyright small {
  margin: 0 5px;
}

.footer .footer--light {
  background-color: #ffffff;
  padding: 25px 30px;
}

.footer .footer--light .footer--link {
  color: #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

.footer .footer--light .footer--link li {
  font-size: 24px;
  font-weight: bold;
}

.footer .footer--light .footer--link li a {
  color: #2e2e2e;
  text-decoration: none;
}

.footer .footer--light .footer--link li a:hover {
  color: #b4b4b4;
}

.footer .footer--light .footer--link__socmed {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

.footer .footer--light .footer--link__socmed li {
  background-color: #b4b4b4;
  color: #ffffff;
  font-size: 24px;
  padding: 8px;
  margin: 0 10px;
  border-radius: 50%;
}

.footer .footer--light .footer--link__socmed li:hover {
  background-color: #6c6c6c;
  cursor: pointer;
}

.footer .footer--light .footer--link__socmed li:hover a {
  color: #f7f7f7;
}

.footer .footer--light .footer--link__socmed li a {
  color: #ffffff;
}

.footer .footer--light .footer--link__socmed li a i {
  width: 25px;
  height: 25px;
  text-align: center;
}

.footer .footer--light .footer--copyright {
  color: #6c6c6c;
  text-align: center;
}

.footer .footer--light .footer--copyright small {
  margin: 0 5px;
}
/*# sourceMappingURL=Footer.css.map */