@import "./variables";

.box-luar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.kiri {
  width: 50%;
}

.kanan {
  width: 50%;
}

.color-primary {
  background-color: #f62f5e;
  color: white;
  height: 3rem;
  width: 7rem;
  border-radius: 20px;
}

.star {
  display: flex;
  justify-content: center;
}

.checked {
  color: $color-third-1;
}

.desc {
  display: flex;
  justify-content: center;
}

.blue {
  background-color: #5f2bba;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.blue1 {
  background-color: #34b2e0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.red {
  background-color: #d61542;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.orange {
  background-color: #e66022;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.yellow {
  background-color: #e1f013;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.green {
  background-color: #58eb2f;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.purple {
  background-color: #8516a1;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.image img {
  height: 90%;
  width: 90%;
}

.size {
  color: grey;
}

.quantity {
  color: grey;
}

.color {
  color: grey;
}
