.login-page {
  width: 400px;
  padding: 10% 0 0;
  margin: auto;
  .form {
    position: relative;
    background: green;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 15px;
    text-align: center;
    .login-form {
      font-family: "roboto", sans-serif;
      outline: 1;
      background: whitesmoke;
    }
  }
}
