.signup-page {
  width: 400px;
  padding: 10% 0 0;
  margin: auto;
  .form {
    position: relative;
    background: #f7f7f7;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 15px;
    text-align: center;

    .signup-form {
      padding-top: 30px;
      input[type="email"] {
        font-family: "roboto", sans-serif;
        outline: 1;
        background: white;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #b4b4b4;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 18px;
        text-align: center;
      }

      input[type="password"] {
        font-family: "roboto", sans-serif;
        outline: 1;
        background: white;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #b4b4b4;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 18px;
        text-align: center;
      }

      p {
        display: flex;
        justify-content: center;
        color: #b4b4b4;
        font-weight: bold;
      }

      button {
        font-family: "roboto", sans-serif;
        text-transform: uppercase;
        background: #f62f5e;
        border: 1px solid #b4b4b4;
        margin-top: 30px;
        width: 50%;
        font-size: 14px;
        padding: 15px;
        border-radius: 25px;
        color: #ffffff;
        cursor: pointer;
      }

      p.message {
        display: flow-root;
        a {
          color: #f62f5e;
          text-decoration: none;
          margin-top: 30px;
        }
      }
    }
  }
}
