* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  height: 100%;
}

div.container {
  background-color: #ffffff;
  padding: 0px 30px;
}

div.container .authHeader--dark nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  font-size: 14px;
  font-weight: bold;
}

div.container .authHeader--dark nav a {
  text-decoration: none;
}

div.container .authHeader--dark .nav-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

div.container .authHeader--dark .nav-1 span {
  color: #f62f5e;
  margin: 5px;
}

div.container .authHeader--dark .nav-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20%;
  margin-left: -21em;
}

div.container .authHeader--dark .nav-li li {
  list-style: none;
  text-decoration: none;
  color: #2e2e2e;
}

div.container .authHeader--dark .nav-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

div.container .authHeader--dark .nav-2 li {
  padding: 5px 5px 5px 25px;
}

div.container .authHeader--dark .nav-icon {
  font-size: 1rem;
}

div.container .authHeader--dark .cart-btn {
  position: relative;
  cursor: pointer;
}

div.container .authHeader--dark .cart-items {
  position: absolute;
  right: -15px;
  background: #f62f5e;
  padding: 0 5px;
  border-radius: 30%;
  color: #ffffff;
}

div.container {
  background-color: #f7f7f7;
  padding: 0px 30px;
}

div.container .authHeader--light nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  font-size: 14px;
  font-weight: bold;
}

div.container .authHeader--light nav a {
  text-decoration: none;
}

div.container .authHeader--light .nav-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

div.container .authHeader--light .nav-1 span {
  color: #f62f5e;
  margin: 5px;
}

div.container .authHeader--light .nav-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20%;
  margin-left: -21em;
}

div.container .authHeader--light .nav-li li {
  list-style: none;
  text-decoration: none;
  color: #2e2e2e;
}

div.container .authHeader--light .nav-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

div.container .authHeader--light .nav-2 li {
  padding: 5px 50px;
}

div.container .authHeader--light .nav-icon {
  font-size: 1rem;
}

div.container .authHeader--light .cart-btn {
  position: relative;
  cursor: pointer;
}

div.container .authHeader--light .cart-items {
  position: absolute;
  right: -15px;
  background: #f62f5e;
  padding: 0 5px;
  border-radius: 30%;
  color: #ffffff;
}
/*# sourceMappingURL=AuthHeader.css.map */